@charset "utf-8";

@font-face {
    font-family: 'NotoSans-Light';
    src: url(/aquarium/fonts/NotoSans-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSans-Medium';
    src: url(/aquarium/fonts/NotoSans-Medium.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSans-SemiBold';
    src: url(/aquarium/fonts/NotoSans-SemiBold.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url(/aquarium/fonts/NotoSans-Bold.ttf) format('ttf');
}
* {
    box-sizing: border-box;
    font-family: 'NotoSans-Light';
    list-style-type: none;

}
.eapps-link {
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
    background:#f1f1f1;
    opacity:0.5;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: orange;
    
  }

a {
    text-decoration: none;
    font-family: 'NotoSans-Light';
    transition: none;
}

.sns img {
    width: 31.5px;
    height: 30px;
}

span {
    color: #000;
}


.nav a, .nav h2, .nav span {
    color: #000;
    font-size: 12pt;
    line-height: 20px;
}

.global_02 h2 {
    color: #000;
}

.nav a:hover {
    color: orange;
}

.nav a:hover > span {
    color: orange;
}

.nav p:hover > span {
    color: orange;
}

.a_ticket_01 a:hover > h2 {
    color: orange;
}

.a_ticket_01 h2 {
    color: #000;

    font-size: 20pt;
    line-height: 0;
}

.go {
    padding: 5px 10px;
    border-radius: 10px;
    background: #fff;
    width: fit-content;
}
.go a{
    color: red;
}

select{
    padding: 5px;
    background: none;
    border: 1px solid #000;
    border-radius: 10px;
}

@media screen and (min-width:1440px) {

    body {
        padding: 0;
        margin: 0;
        background-image: url(/aquarium/image/lotteauqarium/bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* overflow-y: hidden; */
    }

    .ticket, .sec, .container1, .container1::before, .cardtab,
    #left ul li, #right .background, #right:hover > .background {
        width: 100%;
    }

    .sec {
        height: calc(100vh - 200px);
        margin-bottom: 80px;
    }

    a {
        font-size: 16pt;
        color: #000;

    }

    a:hover {
        /* font-size: 18pt; */
        color: #000;
    }

    .nav {
        display: none;
        width: 100%;
        height: calc(100vh - 80px);
        flex-wrap: wrap;
        position: fixed;
        z-index: 100;
        top: 80px;
        left: 0;
        /* background: #fff; */
        background: url(/aquarium/image/lotteauqarium/header.png);
        background-size: cover;
        justify-content: center;
        color: #fff;
        background-repeat: no-repeat;
    }

    .nav a, .nav h2 {
        color: #000;
        font-size: 12pt;
    }
    .global_01 {
        width: 100%;
    }
    .global_01 .inner {
        width: 100%;
        max-width: 1440px;
        height: 240px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }
    .inner {
        margin: 80px 0 0;
        height: calc(100vh - 80px);
        overflow-y: scroll;
    }
    .platform {
        width: 200px;
        padding: 20px;
        gap: 50px;
        display: flex;
        flex-direction: column;
    }
    .platform a {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .platform span {
        font-size: 60px;
    }
    .brands_nav {
        padding: 10px;
        gap: 10px;
    }
    .brands_nav h1 {
        font-size: 30pt;
    }
    .brands_nav h2 {
        font-size: 40pt;
        line-height: 75px;
    }
    .a_ticket_01 {
        display: flex;
        flex-direction: row;
    }
    .a_ticket_01 span {
        font-size: 80px;
        color: #000;
    }
    .a_ticket_01 a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        gap: 30px;
    }
    .a_ticket_01 h2 {
        color: #000;

        font-size: 20pt;
        line-height: 0;
    }
    .global_02 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #000;
        overflow: hidden;
    }
    .global_02 nav {
        width: 100%;
        padding: 20px 0;
    }
    .global_02 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0;
        align-items: flex-start;
    }
    .global_02 h2 {
        color: #000;
        font-size: 16pt;
    }
    header {
        position: fixed;
        width: 100%;
        display: flex;
        /* display: -webkit-box; */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        z-index: 100;
    }
    header {
        top: 0;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        /* background: #fff; */
        line-height: 0;
        background: #b6e9fc;
    }
    header a, header button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #000;
    }
    header button {
        gap: 15px;
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        transition: all 0.5s;
    }
    button .material-symbols-outlined {
        font-size: 40px;
    }
    header button:active {
        border: none;
        background: none;
    }
    header img {
        width: 70px;
        height: 60px;
        margin-right: 20px;
    }
    header .language {
        font-size: 20pt;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    header #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
        line-height: 0;
    }
    #logo a {
        margin: 0;
        padding: 0;
    }
    footer p {
        margin: 20px auto;
        display: block;
        font-size: 30px;
        color: #fff;
        font-family: 'NotoSans-Light';
    }
    .a_ticket_02 {
        /* position: fixed; */
        width: 1440px;
        height: 60px;
        padding: 0 20px;
        display: flex;
        margin: 0 auto;
        color: #000;
    }
    .a_ticket_02 .ticket_left {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 20pt;
        gap: 30px;
    }
    .ticket_left strong {
        color: #ffa800;
    }
    .a_ticket_02 .ticket_right {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    .a_ticket_02 .ticket_right a:hover > h2, .a_ticket_02 .ticket_right a:hover > span {
        color: orange;
    }
    .a_ticket_02 a {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }
    .a_ticket_02 span {
        font-size: 40px;
        color: #fff;
    }
    .a_ticket_02 h2 {
        font-size: 20pt;
        color: #FFF;
    }
    footer{
        display: flex;
        flex-direction: row;
        width: 1440px;
        margin: 0 auto;
        height: 300px;
        justify-content: space-between;
        align-items:center;
        background: #495dc0;
        border-top: #2e3a79;
    }
    footer .left{
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    }
    footer .left ul{
        display: table-column;
        gap: 5px;
    }
    footer .left .sns{
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    footer .right{
        display: table-column;
    }
    footer .right #lottehotel{
        width: 40px;
        padding: 5px 10px;
        background:url(/aquarium/image/lotteauqarium/lottehotel.png);
        display:table-column;
    }
    footer li p, footer li a{
        font-size: 12pt;
        color: #fff;
        line-height: 5px;
    }
    .go{
        background: #fff;
        border-radius: 10px;
        padding: 5px 10px;
        width: fit-content;
    }
}

@media screen and (min-width:890px) and (max-width:1440px) {

    body {
        padding: 0;
        margin: 0;
        background-image: url(/aquarium/image/lotteauqarium/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* overflow-y: hidden; */
    }

    .ticket, .sec, .container1, .container1::before, .cardtab,
    #left ul li, #right .background, #right:hover > .background {
        width: 100%;
    }

    .sec {
        width: 100vw;
        height: calc(100vh - 200px);
        margin-bottom: 80px;
    }

    a {
        font-size: 16pt;
        color: #888;

    }

    a:hover {
        /* font-size: 18pt; */
        color: #000;
    }

    .nav {
        display: none;
        width: 100%;
        height: calc(100vh - 80px);
        flex-wrap: wrap;
        position: fixed;
        z-index: 100;
        /* background: #fff; */
        background: url(/aquarium/image/lotteauqarium/header.png);
        background-size: cover;
        justify-content: center;
        color: #000;
        left: 0;
        top: 80px;
    }

    .nav a, .nav h2 {
        color: #000;
    }
    .nav a:hover {
        color: orange;
    }
    .global_01 {
        width: 100%;
    }

    .global_01 .inner {
        width: 100%;
        max-width: 1440px;
        height: 240px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }


    .inner {
        margin: 80px 0 0;
        height: calc(100vh - 80px);
    }

    .platform {
        width: 200px;
        padding: 20px;
        gap: 50px;
        display: flex;
        flex-direction: column;
    }

    .platform a {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .platform span {
        font-size: 60px;
    }



    .brands_nav {
        display: none;
    }

    .brands_nav h1 {
        font-size: 30pt;
    }

    .a_ticket_01 {
        display: flex;
        flex-direction: row;
    }

    .a_ticket_01 span {
        font-size: 80px;
        color: #000;


    }

    .a_ticket_01 a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        gap: 20px;
    }

    .a_ticket_01 h2 {
        color: #000;
        font-size: 16pt;
        line-height: 0;
    }

    .global_02 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #000;
        overflow: hidden;
    }

    .notice section .post ul li a {
        font-size: 12pt;
    }
    .global_02 nav {
        width: 100%;
        padding: 20px 0;
    }

    .global_02 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .global_02 h2 {
        color: #000;
        font-size: 20pt;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    header, footer {
        position: fixed;
        width: 100%;
        display: flex;
        /* display: -webkit-box; */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        z-index: 100;
    }

    header {
        top: 0;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        /* background: #fff; */
        line-height: 0;
        background: #b6e9fc;

    }

    header > a, header .language, header button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #000;


    }

    header button {
        gap: 15px;
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        transition: all 0.5s;



    }

    button .material-symbols-outlined {
        font-size: 40px;
    }

    header button:active {
        border: none;
        background: none;
    }

    header img {
        width: 36px;
        height: 30px;
        margin-right: 20px;
    }

    header .language {
        font-size: 20pt;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
        line-height: 0;

    }
    #logo a {
        font-size: 0;
    }

    #logo img {
        width: 70px;
        height: 60px;
    }

    footer p {
        margin: 20px auto;
        display: block;
        font-size: 10pt;
        color: #fff;
        font-family: 'NotoSans-Light';
    }

    .a_ticket_02 {
        width: 100%;
        height: 60px;
        display: flex;
        bottom: 60px;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        padding: 0 20px;
    }

    .a_ticket_02 .ticket_left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 20pt;
        gap: 30px;
    }

    .ticket_left strong {
        color: #ffa800;
    }

    .a_ticket_02 .ticket_right {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .a_ticket_02 a {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .a_ticket_02 span {
        font-size: 40px;
        color: #fff;
    }

    .a_ticket_02 h2 {
        font-size: 20pt;
        color: #FFF;
    }



}

@media screen and (min-width:640px) and (max-width:890px) {

    body {
        padding: 0;
        margin: 0;
        background-image: url(/aquarium/image/lotteauqarium/bg.png);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        /* overflow-y: hidden; */
    }

    .ticket, .sec, .container1, .container1::before, .cardtab,
    #left ul li, #right .background, #right:hover > .background {
        width: 100%;
    }

    .sec {
        /* width: 100vh; */
        height: calc(100vh - 200px);
    }

    a {
        font-size: 12pt;
        color: #888;

    }

    a:hover {
        /* font-size: 18pt; */
        color: #000;
    }

    .nav {
        display: none;
        width: 100%;
        height: calc(100vh - 200px);
        flex-wrap: wrap;
        position: fixed;
        z-index: 100;
        /* background: #fff; */
        background: url(/aquarium/image/lotteauqarium/header.png);
        background-size: cover;
        justify-content: center;
        color: #fff;
        left: 0;
        top: 80px;
    }


    .global_01 {
        width: 100%;
    }

    .global_01 .inner {
        width: 100%;
        max-width: 1440px;
        height: 240px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow: hidden;
    }


    .inner {
        margin: 80px 0 120px;
        height: calc(100vh - 200px);

    }

    .platform {
        width: 200px;
        padding: 20px;
        gap: 50px;
        display: flex;
        flex-direction: column;
    }

    .platform a {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .platform span {
        font-size: 60px;
    }

    .brands_nav {
        display: none;
    }

    .brands_nav h1 {
        font-size: 30pt;
    }

    .a_ticket_01 {
        display: flex;
        flex-direction: row;
    }

    .a_ticket_01 span {
        font-size: 60px;
        color: #000;

    }

    .a_ticket_01 a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px 20px;
        gap: 10px;
    }

    .a_ticket_01 h2 {

        font-size: 16pt;
        line-height: 0;
    }

    .a_ticket_01 a:hover > span {
        color: orange;
    }

    .a_ticket_01 a:hover > h2 {
        color: orange;
    }

    .global_02 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        border-top: 1px solid #000;
        overflow: hidden;
    }

    .global_02 nav {
        width: 100%;
        padding: 20px 0;
    }

    .global_02 ul {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
    }

    .global_02 h2 {
        font-size: 16pt;
    }

    .global_02 nav ul li {
        display: flex;
        justify-content: flex-start;
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    header, footer {
        position: fixed;
        width: 100%;
        display: flex;
        /* display: -webkit-box; */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        z-index: 100;
    }

    header {
        top: 0;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        /* background: #fff; */
        line-height: 0;
        background: #b6e9fc;

    }

    header a, header button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #000;


    }

    header button {
        gap: 15px;
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        transition: all 0.5s;



    }

    button .material-symbols-outlined {
        font-size: 40px;
    }

    header button:active {
        border: none;
        background: none;
    }

    header img {
        width: 36px;
        height: 30px;
        margin-right: 20px;
    }

    header .language {
        font-size: 20pt;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    header #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
        line-height: 0;

    }
    #logo a {
        font-size: 0;
    }

    #logo img {
        width: 70px;
        height: 60px;
    }

    footer p {
        margin: 20px auto;
        display: block;
        font-size: 30px;
        color: #fff;
        font-family: 'NotoSans-Light';
    }

    .a_ticket_02 {
        width: 100%;
        height: 60px;
        padding: 0 20px;
        display: flex;
            
        justify-content: space-between;
        align-items: center;
        color: #Fff;
    }

    .a_ticket_02 .ticket_right a:hover > .ticket_right span, .ticket_right h2 {
        color: orange;
    }
    #left .title a:hover {
        color: orange;
    }

    .a_ticket_02 .ticket_left {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #fff;
        font-size: 0;
    }

    .ticket_left strong {
        color: #ffa800;
    }

    .a_ticket_02 .ticket_right {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .a_ticket_02 a {
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
    }

    .a_ticket_02 span {
        font-size: 40px;
        color: #fff;
    }

    .a_ticket_02 h2 {
        font-size: 12pt;
        color: #FFF;
    }



}

@media screen and (min-width:360px) and (max-width:640px) {
    body {
        padding: 0;
        margin: 0;
        background-image: url(/aquarium/image/lotteauqarium/bg_m.png);
        background-repeat: no-repeat;
        background-size: cover;
        /* overflow-y: hidden; */
    }

    ::-webkit-scrollbar {
        display: none;
      }

    .sec {
        height: calc(100vh - 140px);
    }

    .sec02 {
        display: none;
    }

    a {
        font-size: 12pt;
        color: #888;
        display: flex;
        justify-content: flex-start;
    }

    a:hover {
        /* font-size: 18pt; */
        color: #000;
    }

    .nav {
        display: none;
        width: 100%;
        height: calc(100vh - 80px);
        flex-wrap: wrap;
        position: fixed;
        z-index: 100;
        /* background: #fff; */
        background: url(/aquarium/image/lotteauqarium/MENU_m.png);
        background-size: cover;
        justify-content: center;
        color: #fff;
        overflow-y: scroll;
        left: 0;
        top: 80px;
    }

    .nav a, .nav h2 {
        color: #000;
    }
    .nav ul li h2 {
        font-size: 16pt;
    }

    .global_01 {
        width: 100%;
        height: 60px;
    }
    .global_01 .inner {
        width: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        overflow: hidden;
    }


    .inner {
        height: calc(100vh - 140px);
        margin: 80px 0 60px;
        overflow-y: scroll;

    }
    .platform {
        display: none;
    }
    .platform a {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        color: #000;
    }

    .platform span {
        font-size: 20px;
        align-items: center;
    }



    .brands_nav {
        display: none;
    }
    .a_ticket_01 {
        display: flex;
        flex-direction: row;
        gap: 30px;
        padding-bottom: 40px;
    }
    .a_ticket_01 span {
        font-size: 40px;
        color: #000;
    }
    .a_ticket_01 a {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .a_ticket_01 h2 {
        color: #000;
        font-size: 16pt;
        line-height: 0;
    }
    .a_ticket_01 a:hover > span {
        color: orange;
    }
    .a_ticket_01 a:hover > h2 {
        color: orange;
    }

    .global_02 {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        height: auto;
        padding: 0 20px;
        display: flex;
        flex-direction: column;
        border-top: 1px solid #000;
        overflow-y: scroll;
        margin-bottom: 60px;
    }
    .global_02 nav {
        width: 100%;
        height: auto;
        /* overflow: hidden; */
    }
    .global_02 ul {
        display: none;
    }
    .global_02 h2 {
        color: #000;
        font-size: 16pt;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        height: 100%;
    }

    .global_02 nav ul li a {
        margin-bottom: 15px;

    }

    header, footer {
        position: fixed;
        width: 100%;
        display: flex;
        /* display: -webkit-box; */
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        z-index: 100;
    }
    header {
        top: 0;
        height: 80px;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;
        /* background: #fff; */
        line-height: 0;
        background: #b6e9fc;
    }
    header > a, header .language, header button {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        color: #000;
    }
    header button {
        gap: 15px;
        display: flex;
        flex-direction: row;
        background: none;
        border: none;
        transition: all 0.5s;
    }
    button .material-symbols-outlined {
        font-size: 40px;
    }
    header button:active {
        border: none;
        background: none;
    }
    header img {
        display: none;
    }
    header .language {
        font-size: 20pt;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
    header #logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;
        font-size: 30px;
        line-height: 0;

    }
    #logo a {
        font-size: 0;
    }

}