@charset "utf-8";

@font-face {
    font-family: 'NotoSans-Light';
    src: url(/aquarium/fonts/NotoSans-Light.ttf) format('ttf');
}

.note{
    overflow: hidden;
}

.notice .label {
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* flex-direction: none; */
    gap: 20px;
}
.notice .label form {
    margin: 0;
    padding: 0;
}
.notice .label form, .label fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.notice .label input {
    width: 400px;
}
.notice .label input, .label select {
    height: 50px;
    padding: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    font-size: 16pt;
}
.notice h2 {
    font-size: 20pt;
    margin: 0;
}
.notice section {
    width: 100%;
    height: 100%;
    padding: 50px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.notice section .post {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    border-radius: 30px;
}
.notice section .post ul {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
}

.notice .num {
    position: absolute;
    right: 0px;
    bottom: 180px;
    width: 100%;
    height: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.notice .num a {
    font-size: 16pt;
    color: #000;
}

.con {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
.con1 {
    width: 100%;
    height: 100%;
    padding: 0;
}
.con div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 25px;
    padding: 10px 80px;
}
.con .box {
    width: 100%;
    height: 19vh;
    display: flex;
    border-radius: 30px;
    box-shadow: 2px 2px 2px 2px #e4e4e4;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    color: #000;
    padding: 30px 30px;
}

.box a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.con1 .box.n-1 {
    background: #ff9900;
    color: #000;
}
.con1 .box.n-2 {
    background: #DC1111;
    color: #fff;
}
.con1 .box.n-3 {
    background: url(/aquarium/image/lotteauqarium/lottesamsung_card_banner.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #000;
}
.con1 .box.n-4 {
    background: #791b1b;
    color: #fff;
}
.con1 .box.n-5 {
    background: #5c74fc;
    color: #fff;
}
.con1 .box.n-6 {
    background: #2e7feb;
    color: #fff;
}
.con1 .box.n-7 {
    background: #818181;
    color: #fff;
}
.con1 .box.n-8 {
    background: #025baf;
    color: #fff;
}
.con1 .box.n-9 {
    background: #00b100;
    color: #fff;
}
.con1 .box.n-10 {
    background: #aa2222;
    color: #fff;
}
.con1 .box.n-11 {
    background: #e78f0b;
    color: #fff;
}
.con1 .box.n-12 {
    background: #db17c1;
    color: #fff;
}

.box p {
    font-size: 10pt;
    margin: 0;
}

.box strong {
    font-size: 12pt;
}

.num a.active {
    border-bottom: 1px solid orange;
}
@media screen and (min-width:1440px) {

    .notice {
        width: 1440px;
        height: calc(100vh - 200px);
        margin: 0 auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
    }

}

@media screen and (min-width:360px) and (max-width:1440px) {
    .notice {
        width: 100vw;
        height: 85%;
        margin: 0 auto;
        background: #fff;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
    }
    .con div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 20px;
        padding: 0;
    }

    .notice .label {
        display: none;
    }
    @media screen and (min-width:360px) and (max-width:640px) {
        .notice{
            width: 100vw;
            height: calc(100vh - 140px);
        }

        .con div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 100%;
            gap: 20px;
            padding: 0;
        }

        .con{
            gap: 20px;
        }

        .con .box{
            height: 33vh;
        }
    }
    @media screen and (min-width:640px) and (max-width:890px) {

        .con{
            gap: 18px;
        }
        
    }
    .box p {
        font-size: 8pt;
        margin: 0;
    }
    
    .box strong {
        font-size: 8pt;
    }

    .con .box{
        height: auto;
    }

    .notice section {
        width: 100%;
        height: auto;
        padding: 25px;
        gap: 15px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
}