*{padding:0 ;}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url(/aquarium/fonts/NotoSans-Bold.ttf);
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url(/aquarium/fonts/NotoSans-Light.ttf);
}
.a03_info{
    margin-bottom: 10px;
    gap: 20px;
}
.a03_info_warning, .text{
    padding-left: 30px;
}
.a03_info_warning{
    padding: 30px;
    border-top: 1px solid #000;
}

.content {
    width: 0;
    height: 100%;
    border-radius: 50px;
    overflow: hidden;
    transition: all 0.5s;
    background: #fff;
}

.content.active {
    width: 75%;
    padding: 30px;
    overflow: hidden;
    display: flex;
    flex-direction: column;  
}

.content button{
    border: none;
    background: none;
    font-size: 20px;
    box-shadow: 0 4px 4px #ababab;
    border-radius: 15px;
    padding: 10px;
}

.tab {
    width: 90px;
    height: 100%;
    border-radius: 50px;
    /* border-inline: 1px solid #999; */
    text-align: center;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow: hidden;
    border-top: none;
    border-bottom: none;
    font-size: 12pt;
    transform: translateX(0);
    transition: all 0.5s;
    background: #fff;
    border: 1px solid #f1f1f1;
}

.content .inner_2 {
    width: 100%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    background: #fff;
}
.content h1{
    margin: 21.44px 0 0 0;
}
.inner_2_01{
    display: flex;
    flex-direction: column; 
}


#traffic {
    width: 100%;
    height: 100%;
    padding: 0 100px;
    padding-bottom: 20px;
    overflow: hidden;
    border-radius: 30px;
}
.index > ul{
    border-top: 1px solid #000;
    height: 100%;
    padding: 20px 0;
    
}
.index li{
    margin: 10px 0;
}
.index li p{
    margin: 0;
    letter-spacing:-2px;
}

li.index.bus ul{
    display: flex;
    justify-content: center;
    padding:0;
}

li.index.bus ul li {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
li.index.bus ul li p:nth-child(1){
    
    display: flex;
    padding: 10px;
    color: #fff;
    margin: 0 0 10px 0;
    border-radius: 10px;
    gap:10px;
    padding: 10px;
}
li.index.bus .bus1{
    background-color: green;
}
li.index.bus .bus3{
    background-color: red;
}
li.index.bus .bus2{
    background-color: rgb(31, 100, 250);
}
li.index.bus .bus4{
    background-color: rgb(146, 124, 1);
}
li.index.bus ul li p{
    display: flex;
    flex-direction:row;
    gap: 15px;
}

li.index.parking.active li{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


 ul#cost {
    display: flex;
    flex-direction: row;
    height: 100%;
}
.content > ul{
    padding:0 ;
    height: calc(100% - 100px);

}
.a_ticket_03{
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a_ticket_03 a {
    box-shadow: 0 4px 4px #ababab;
    display: flex;
    flex-direction: column;
    width: 130px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    height: 130px;
    text-align: center;
    gap: 5px;
}

.a_ticket_03 span{
    font-size: 40px;
}



.a_ticket_03 a:hover > h2,
.a_ticket_03 a.on > h2 {
    color: orange;
}

.a_ticket_03 a:hover > span,
.a_ticket_03 a.on > span {
    color: orange;
}


.a_ticket_03_info{
    width: 100%;
    height: 100%;
    padding-left: 30px;
}


.a_ticket_03_check{
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.a_ticket_03_check form{
    display: flex;
    width: 100%;
    padding: 10px 0 20px;
    border-bottom: 1px solid #000;
    gap: 30px;
    align-items: center;
}


.a_ticket_03_check input{
    width: 250px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
}

.a_ticket_03_check button{
    width: 100%;
    border-bottom: 1px solid #000;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    padding-bottom: 54.44px;
}

.a03_info .text{    
    border-bottom: 1px solid #000;
}

.a03_info .text{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.a03_info_warning li{
    padding: 3px 0;
    font-size: 12pt;
    letter-spacing: -1px;
}

.span{
    padding: 10px 20px;
    display: flex;
    gap: 15px;
   
}

.span button.active{
    color: orange;
}

.map{
    width: 90%;
    height: 90%;
    display: none;
}
.map.b1{
    height: calc(100vh - 100px);
    background: url(/aquarium/image/lotteauqarium/b1.png);
    background-repeat: no-repeat;
    background-position: center 60px;
    background-size: 95%;
    /* overflow: scroll; */
    margin: 0 auto;
}
.map.b2{
    height: calc(100vh - 100px);
    
    background: url(/aquarium/image/lotteauqarium/b2.png);
    background-repeat: no-repeat;
    background-position: center 30px;
    background-size: 80%;
    /* overflow: scroll; */
    margin: 0 auto;
}

.map.active{
    display: block;

}

.index .metro{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-top: 1px solid #000;
}

.index{
    display: none;
}
.index.active{
    display: flex;
    flex-direction: column;
}
.index h2{
    margin-top: 10px;
}
button.p_01, button.p_02, button.p_03, button.p_04{
    border: none;
    background: none;
    font-size: 20pt;
}

.n_03 .box{
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding: 20px 0;
}
.n_03 .box.active{
    height: calc(100vh - 300px);
    display: flex;
}
.n_02 ul{
    height: 100%;
    height: calc(100vh - 600px);
}
.n_03 img{
    padding: 10px;
    width: 50px;
    height: 50px;
}
.p-1, .p-2{
    width: 100%;
    height: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 6px #ababab;
}
.p-3{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 6px #ababab;
    border-radius:  30px;
    align-items: center;
    padding: 0 30px;
}
.p-3 div{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;

}
.p-3 #img{
    width: 70%;
    height: 70%;
    border-radius: 30px;
}


.p-1 p, .p-2 p, .p-3 p{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 10pt;
    gap: 10px;
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #000;
}

.p-1 h2, .p-2 h2, .p-3 h2{
    font-size: 1pt;
    text-align: center;
    line-height: 15px;
    
}

.n_03 ul{
    width: 100%;
    padding: 0  ;
    display: flex;
    justify-content: center;
}

.seoulsky{
    padding-bottom: 20px;
}

.parking.active{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    gap: 20px;
    padding-bottom: 30px;

}

.parking div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
    width: 50%;
}

.parking div h2{
    margin-top: 10px;
    line-height: inherit
    ;
}



.parking .numbering.v-01 strong{
    color:#F42886;
    margin: 0 20px;
    }
.parking .numbering.v-02 strong{
    color:#29ABE2;
    margin: 0 20px;
    }
.parking h2{
    margin :0;
}
.parking img{
    width: 80%;
    /* height: 50%; */
}
.parking > ul{
    width: 49%;
    height: auto;

}

#login{
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login form{
    border: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#login #checkbox{
    display: flex;
    justify-content: center;
    width: 30px;

}

#login form label{
    display: flex;
    align-items: center;
    gap: 30px;
}
#login button{
    height: 40px;
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    background: brown;
    color: #fff;
    box-shadow: 0 2px 4px #ababab;
}
#login a{
    width: fit-content;
}

#login div{
    width: 100%;
    border: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

#login img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    box-shadow: 0 2px 4px #ababab;
}

@media screen and (min-width:1440px) {
    button.tab h1{
        display: flex;
        flex-direction: column;
    }

}

@media screen and (min-width:360px) and (max-width:1440px) 
{
    @media screen and (min-width:360px) and (max-width:1440px) {
        
    }
    @media screen and (min-width:360px) and (max-width:640px) {
        .a_ticket_03_check form{
            width: calc(100vw - 240px);
        }
        
        .container02 {
            display: flex;
            flex-direction: column;
            width: calc(100vw - 30px);
            background: none;
            height: auto;
        }
        .container02 .tab{
            width: calc(100vw - 30px);
            height: 100px;
            border:1px solid #f1f1f1;}

        .content{
            width: 100%;
            height: 0;
        }
        .content.active{
            width: calc(100vw - 30px);
            margin: 0 auto;
            height: 100%;
        }
        .a_ticket_03 a{
            width: 120px;
            height: 120px;
            gap: 10px;
        }
    }
    @media screen and (min-width:640px) and (max-width:1136px){
        .sec02{
            height: auto;
        }
        .container02 {
            display: flex;
            flex-direction: column;
            width: calc(100vw - 10px);
            height: auto;
            background: none;
        }
        .container02 .tab{
            width: calc(100vw - 30px);
            height: 100px;
            border:1px solid #f1f1f1;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            font-size: 2rem;
            gap: 30px;
        }
        .content{
            width: calc(100vw - 30px);
            margin: 0 auto;
            height: 0;
        }
        .content.active{
            width: calc(100vw - 30px);
            margin: 0 auto;
            height: 750px;
        }
    }
}