@charset "utf-8";

@font-face {
    font-family: 'NotoSans-Light';
    src: url(/aquarium/fonts/NotoSans-Light.ttf) format('ttf');
}

@font-face {
    font-family: 'NotoSans-Bold';
    src: url(/aquarium/fonts/NotoSans-Bold.ttf) format('ttf');
}

*{ 
    box-sizing: border-box;
    font-family: 'NotoSans-Bold';
}

.inner {
    margin: 80px 0 0;
    height: calc(100vh - 80px);
    overflow-y:scroll;
}

.div_1 {
    width: 1440px;
    height: calc(100vh - 200px);
    margin: 80px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

::-webkit-scrollbar {
    display: none;
  }

.div_01 {
    width: 1440px;
    height: calc(100vh - 200px);
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 120px;
}



section div {
    width: 560px;
    height: 720px;
    padding: 0 30px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

section div.text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

section div img {
    width: 350px;
    height: 310px;
}

section div .text p {
    margin: 0;
    width: 450px;
    text-align: justify;
    font-size: 12pt;
    line-height: 25pt;
}

section div .text h3 {
    margin: 0;
    font-size: 20pt;
}

section div .text #subject {
    margin: 10px 0;
    font-size: 35pt;
    line-height: 30pt;
    color: orange;
}

.div_01 {
    width: 760px;
    height: 720px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.div_01_1, .div_02_1, .div_03_1 {
    width: 760px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.button1, .button2, .button3, .illust {
    /* .div.div_01_1_1~ .div.div_03_1_2 */
    width: 200px;
    height: 200px;
    background: #fff;
    border-radius: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div a {
    font-size: 30pt;
    font-family: 'NotoSans-Bold';
    opacity: 0.5;
    transition: all 0.5s;
}

.div a.on {
    color: #000;
    opacity: 1;
}



.div button {
    border: none;
    font-size: 30pt;
}

button.div.button1.p_01 {
    color: orange;
    background: url(/aquarium/image/lotteauqarium/Frame\ 135.png);
}

button.div.button1.p_03 {
    color: beige;
    background: url(/aquarium/image//lotteauqarium/Frame\ 136.png);
}

button.div.button2.p_02 {
    color: orange;
    background: url(/aquarium/image/lotteauqarium/Frame\ 137.png);
}

button.div.button3.p_01 {
    color: #fff;
    background: url(/aquarium/image/lotteauqarium/Frame\ 138.png);
}

button.div.button3.p_03 {
    color: green;
    background: url(/aquarium/image/lotteauqarium/Frame\ 139.png);
}

.div .con {
    position: absolute;
    left: 0;
    border-radius: 100px;
    width: 760px;
    height: 680px;
    padding: 60px 70px;
    display: none;
    flex-direction: column;
    line-height: 22pt;
}

.con button {
    background: none;
    display: flex;
    flex-direction: row;
    color: #fff;
    gap: 10px;
}

.con span {
    font-size: 50pt;
    color: #fff;
}

.div .con h1 {
    font-size: 40pt;
}

.div .con h3 {
    font-size: 20pt;
}

.fade1 {

    position: absolute;
    top: 20px;
    background: url(/aquarium/image/lotteauqarium/Frame\ 135.png);
    background-size: 100% 100%;
    z-index: 50;
    color: #fff;
}

.fade1 h1 {
    color: orange;
}

.fade2 {

    position: absolute;
    top: 20px;
    background: url(/aquarium/image/lotteauqarium/Frame\ 136.png);
    background-size: 100% 100%;
    z-index: 50;
    color: #fff;
}

/* .fade2 h1{
    color: ;
} */

.fade3 {

    position: absolute;
    top: 20px;
    background: url(/aquarium/image/lotteauqarium/Frame\ 137.png);
    background-size: 100% 100%;
    z-index: 50;
    color: #fff;
}

.fade3 h1 {
    color: orange;
}

.fade4 {

    position: absolute;
    top: 20px;
    background: url(/aquarium/image/lotteauqarium/Frame\ 138.png);
    background-size: 100% 100%;
    z-index: 50;
    color: #fff;
}

/* .fade4 h1{
    color: ;
} */

.fade5 {

    position: absolute;
    top: 20px;
    background-color: #000;
    background: url(/aquarium/image/lotteauqarium/Frame\ 139.png);
    background-size: 100% 100%;
    z-index: 50;
    color: #fff;
}
.fade5 h1 {
    color: green;
}

@media screen and (min-width:360px) and (max-width:1440px) {
    @media screen and (min-width:360px) and (max-width:640px) {
        .div_1 {
            width: 100vw;
            height: calc(100vh - 180px);
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            padding: 0px;

        }

        section div {
            height: calc(100vh - 140px);
        }

        .div_1 {
            align-items: center;
            height: calc(100vh - 140px);
            gap: 40px;
            padding: 20px 0;
        }
        .div_1 section div {
            width: 100vw;
            float: left;
            clear: both;
            height: auto;

        }

        .div_01 {
            width: 100vw;
            height: 100vh;
            float: left;
            gap: 0;
            margin-bottom: 40px;
        }

        .div_01_1, .div_02_1, .div_03_1 {
            justify-content: space-around;
            gap: 40px;
        }

        .illust {
            display: none;
        }

        .div .con {
            width: 100%;
            height: 100%;
            top: 0;
            left:auto;
            margin: 0 auto;
            border-radius: 80px;
        }
        .fade1, .fade2, .fade3, .fade4, .fade5{
            top: 0;
            left: 0;
        }

        section div.text {
            gap: 0;
        }

        section div .text #subject {
            font-size: 16pt;
        }

        section div .text h3 {
            font-size: 16pt;
        }

        section div .text p {
            font-size: 10pt;
            width: 100%;
        }

        .div_01_1, .div_02_1, .div_03_1 {
            width: 100vw;
            /* height: 100vh; */
            padding: 0;
            margin: 0;
        }

        section div img {
            width: 50%;
            height: 50%;
        }
    }
    @media screen and (min-width:640px) and (max-width:1440px) {
        .div_1 {
            width: 100%;
            height: calc(100vh - 240px);
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            overflow-y: scroll;
            padding: 0;


        }
        section div {
            width: 100vw;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding: 0;
        }

        .div_01 {
            width: 100vw;
            height: 100vh;
            gap: 0;
        }

        .div_1 section {
            width: 100vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        section div.text {
            width: 100vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: left;
            gap: 0;
        }
        .div .con {
            top: 0;
            left: 18%;
            height: 100%;
            width: 65vw;
        }
        .illust {
            display: none;
        }

        .div_01_1, .div_02_1, .div_03_1 {
            justify-content: space-around;
            gap: 0;
        }

    }

    @media screen and (min-width:640px) and (max-width:890px) {
        .div_1 {
            height: calc(100vh - 240px);
        }

    }
}